
<div>
<app-navbar></app-navbar>
<router-outlet></router-outlet>

<h1>Angular</h1>
<app-home123></app-home123>
<app-posts></app-posts>
<app-template-form></app-template-form>
<app-directive-examples></app-directive-examples>
<app-likes-count [likescount]="main_tweet.likescount" [Isactive]="main_tweet.isActive"></app-likes-count>
<app-panel-bootstrap>
<ng-container class="heading">Heading</ng-container>   
<ng-container class="body"><h2>Body</h2></ng-container>   
</app-panel-bootstrap>
<app-title-case></app-title-case>
<farvorite [isFavorite]="true" (FavoriteClick)="hostevent($event)"></farvorite>
<test123></test123><br>
 <courses></courses>
 <app-input-output [username]="username"  [password]="password" (Btnclick)="parentevent($event)" ></app-input-output>
 {{username}}
 
 <app-ng-context-f>
     <div class="heading1"><h1>Heading</h1></div>
     <div class="body1">
     <h1>Test Data</h1>
         Some data..............
     </div>
 </app-ng-context-f>
 <app-tweets [LikesCount]="tweets.LikesCount" [isActive]="tweets.isActive"></app-tweets><br>
<div [hidden]="courses.length>0">

    list of courses
</div>

<div [hidden]="courses.length==0">

    No courses
</div>

<ul class="nav nav-pills">
<li [class.active]="viewMode=='map'"><a (click)="viewMode='map'">Map</a></li>
<li [class.active]="viewMode=='list'"><a (click)="viewMode='list'">List</a></li>
</ul>
<div [ngSwitch]="viewMode">
<div *ngSwitchCase="'map'">Map content</div>
<div *ngSwitchCase="'list'">List Content</div>
<div *ngSwitchDefault>others</div>
</div>
<zippy>
    <ng-container class="header">

       asdasd
    </ng-container>
        <ng-container class="body">
              <form ngForm #f="ngForm">
                    
                    <div class="form-group" ngModelGroup="FirstNameMG" #FirstNameMG="ngModelGroup">
                    <label for="FirstName">First Name:</label>
                    <input required minlength="3" maxlength="10" pattern="bannana" ngModel name="firstName" #firstName="ngModel"   id="FirstName" type="text" class="form-control">
                    <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
                       <div *ngIf="firstName.errors.required">Firstname is required.</div>
                       <div *ngIf="firstName.errors.minlength">Mininum 3 chars</div>
                       <div *ngIf="firstName.errors.pattern">not valid pattern.</div>
                    </div>
                    <button id="gbutton" class="btn btn-primary" type="button" [disabled]="!FirstNameMG.valid">Submit</button>                   
                    </div>

                    <div class="form-group" ngModelGroup="CommentMG" #CommentMG="ngModelGroup">
                    <label for="comment">Comment</label>
                    <textarea required ngModel name="comment" #comment="ngModel" id="comment" cols="30" rows="10" class="form-control"></textarea>
                    <div class="alert alert-danger" *ngIf="comment.touched && !comment.valid">
                        <div *ngIf="comment.errors.required">Comments is required.</div>
                    </div>
                    <button id="hbutton" class="btn btn-primary" type="button" [disabled]="!CommentMG.valid">Submit</button>
                    </div>

                  
                    <div class="check">
                    <label>
                        <input required type="checkbox" ngModel name="isSubscribe" #isSubscribe="ngModel" id="isSubscribe"> Subscribe to Mailing List
                     </label>
                    </div>
                    <div class="alert alert-danger" *ngIf="isSubscribe.touched && !isSubscribe.valid">
                    <div *ngIf="isSubscribe.errors.required">checkbox check is required.</div>
                        
                    </div>
               

                   <div class="form-group">
                       <label for="Cummunivations">Cummunivations Method</label>
                       <select  required name="Cummunivations" id="Cummunivations" #Cummunivations="ngModel" ngModel class="form-control">
                            <option  value=""></option>  
                        <!-- <option  value="1">Email</option>
                           <option value="2">Phone</option> -->
                           <option *ngFor="let cMethod of CummunivationsMethods" [ngValue]="cMethod">{{cMethod.name}}</option>
                       </select>
                   </div>
                   <div class="alert alert-danger" *ngIf="Cummunivations.touched && !Cummunivations.valid">
                   <div *ngIf="Cummunivations.errors.required">CummunivationsMethod is required.</div>
                    </div>

           <div class="radio" *ngFor="let cMethod of CummunivationsMethods" >
               <label>
                <input required type="radio" ngModel  name="Gender" #Gender="ngModel" [value]="cMethod.id">{{cMethod.name}}
            </label>
           </div>
           <!-- <div class="radio">
                <label>
                 <input required type="radio" ngModel  name="Gender" #Gender="ngModel" value="2">Email
             </label>
            </div> -->
            <!-- <div>
            <div class="alert alert-danger" *ngIf="Gender.touched && !Gender.valid">
                    <div *ngIf="Gender.errors.required"></div>Gender is required.</div>
                     </div>
                     </div> -->
                    {{f.value | json}}
              </form>
        <button  class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
        </ng-container>
        
<br>
<button (click)="addCourse()">Add</button>
<ul>
    <li *ngFor="let course of courses">{{course.id}}-{{course.name}}
        <button (click)="removeCourse(course)">Remove</button>
        <button (click)="updateCourse(course)">Update</button>
    </li>
</ul>

</zippy>
<button [ngStyle]="{'backgroundColor':'red'}">Save</button>
<br>
{{review.assign?.name}}

<br>
<input type="text" [appInputFormat]="'upper'">
<br>

<reactive-forms></reactive-forms>


</div>
<!-- <router-outlet></router-outlet> -->